*{
    padding: 0;
    margin: 0;
}
/*--------------------header------------------*/
.header{
    background-color: #1c252c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
.menu ul li a:hover{
    background-color: white;
    color: #1c252c;
}
.menu-icon {
    display: none;
    cursor: pointer;
    margin-right: 5px;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;    
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}  
.change .bar2 {opacity: 0;
}  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/*--------------------hero------------------*/
.hero{
    display: flex;
    height: 250px;
    background-color: #1c252f;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero h1{
    margin: 30px 0 30px 30px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
}
.hero h1 strong{
    color: #026fff;
}
.hero img{
    width: 500px;
    height: 250px; 
    margin-right: 40px;  
}
/*--------------------skills------------------*/
.skills{
    width: 1000px;
    background-color: #f4fbff;  
    margin: auto; 
    text-align: left;
    padding-top: 20px;
}
h2{
    color: #026fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    margin-left: 60px;
}
.skills-main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.skills-items{
    margin: 20px 0;
    border:1px solid rgba(0,0,0,0.2);    
}
.skills-items picture{
    justify-items: center;
}
.skills-items p{
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
}
.skills h3{
    color: #026fff;
    font-family: 'Fjalla One', sans-serif;
    margin: 15px 60px;
}
.skills-second{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-second img{
    margin: 0px 20px 20px 60px;
}
/*--------------------projects------------------*/
.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}
.project-item{
    width: 1000px;
    margin: 50px;
    border: 2px solid rgba(0,0,0, 0.3);
    border-radius: 10px;
    background-color: white;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-around;
}
.project-detail{
    width: 500px;
    margin: 30px 30px;
}
.project-title{
    color: #026fff;
    font-size: 24px;
    margin-bottom: 15px;
}
.project-languaje{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.project-description{
    font-size: 20px;
    margin-bottom: 15px;
}
.project-url a{
    text-decoration: none;
    color: #026fff;
}
.project-item picture{
    padding: 10px;
}
/*--------------------contact------------------*/
.contact{
    background-color: #026fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-mail{
    margin-left: 30px;
}
.form-mail input{
    border-color: gray;
    padding: 10px 20px 10px 25px;
    background-image: url(../images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y:center ;
    background-position-x: 5px;
    border-radius: 5px;
    border-style: solid;
    margin-top: 5px;
}
.form-mail button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    width: 100px;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.form-mail button:hover{
    background-color: white;
    color: #026fff;
}
.form-mail h3{
    font-family: 'Source Sans Prop', sans-serif;
}
.social a{
    margin-right: 30px;
}
/*--------------------footer------------------*/
.footer{
    display: flex;
    color: white;
    background-color: #1c252c;
    align-items: center;
    justify-content: center;
    height: 45px;
}


/*--------------------medias------------------*/
@media screen and (max-width: 938px){
    .hero img{
        display: none;
    }  
    .projects{
        width: 100%;
    }
    .project-item{
        display: block
    }  
}
@media screen and (max-width: 768px){
    .menu{
        display: none;
        position: absolute;
        
    }
    .menu-icon{
        display: inline-block;
    }
    .active{
        display: block;
        width: 150px;
        height: 150px;
        right: 0px;
    }
    .menu ul{
        margin-top: 5px;
    }
    .menu ul li{
        text-align: center;
        width: 100%;
        background-color: #1c252c;
        border-top: 1px solid white;
    }
    .skills{
        width: 100%;
        display: block;
        margin: auto;
    }
    .projects{
        width: 100%;
    }
    .project-item{
        display: block;
        width: inherit;
    }
    .project-detail{
        width: 100%;
        /*padding: 5px 2px;*/
    }
    .project-description{
        width: 80%;
    }
    .contact{
        display: block;
        padding: 30px;
    }
    .social{
        display: flex;
        justify-content: space-evenly;
    }
    .social a{
        margin-top: 10px;
    }
    
}