:root{
    --color-titulos: #026fff;
    --fontf-title: 'Fjalla One', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
/*-------------------- Estilos header------------------*/
.header{
    background-color: #1c252c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: white;
    display: block;
    padding: 1.25em;
    text-decoration: none;
}
.menu ul li a:hover{
    background-color: white;
    color: #1c252c;
}
.menu-icon {
    display: none;
    cursor: pointer;
    margin-right: 0.32em;
}
.bar1, .bar2, .bar3 {
    width: 1.56em;
    height: 0.32em;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;    
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}  
.change .bar2 {opacity: 0;
}  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/*--------------------Estilos hero------------------*/
.hero{
    display: flex;
    height: 15.625em;
    background-color: #1c252f;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2.81em;
}
.hero h1{
    margin: 0.75em 0 0.75em 0.75em;
    font-family: var(--fontf-title);
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
}
.hero h1 strong{
    color: var(--color-titulos);
}
.hero img{
    width: 31.25rem;
    height: 15.625rem; 
    margin-right: 2.5rem;  
}
/*--------------------Esstilos skills------------------*/
.skills{
    width: 62.5em;
    background-color: #f4fbff;  
    margin: auto; 
    text-align: left;
    padding-top: 1.25em;
    padding-top: 3.75em;
}
h2{
    color: var(--color-titulos);
    font-family: var(--fontf-title);
    font-size: 30px;
    margin-left: 2em;
}
.skills-main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0.94em;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.skills-items{
    margin: 1.25em 0;
    border:1px solid rgba(0,0,0,0.2);    
}
.skills-items picture{
    justify-items: center;
}
.skills-items p{
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
}
.skills h3{
    color: var(--color-titulos);
    font-family: var(--fontf-title);
    margin: 0.94em 3.75em;
}
.skills-second{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-second img{
    margin: 0 1.25em 1.25em 3.75em;
}
/*--------------------Estilos projects------------------*/
.projects{
    display: block;
    padding-top: 3.75em; 
    margin-left:10.625em;
}
.projects h2{
    margin-left: 1rem;
    color: var(--color-titulos);
    font-family: var(--fontf-title);
}
.project-item{
    width: 62.5em;
    border: 2px solid rgba(0,0,0, 0.3);
    border-radius: 10px;
    background-color: white;
    display: flex;
    margin-bottom: 0.94em;
    align-items: center;
}
.project-detail{
    width: 31.25em;
    margin: 1.875em 1.875em;
}
.project-title{
    color: var(--color-titulos);
    font-size: 24px;
    margin-bottom: 0.625em;
}
.project-languaje{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.75em;
}
.project-description{
    font-size: 20px;
    margin-bottom: 1.25em;
}
.project-url{
    text-decoration: none;
    color: var(--color-titulos);
    padding: 0.625em;
    border: 1px solid #026fff;
    border-radius: 5px;
    font-family: 'Fjalla One', sans-serif;
}
.project-url:hover{
    background-color: #026fff;
    color: white;
}
/* .project-item picture{
    padding: 10px; 
    border-radius: 250px; 
    border:1px solid black;
} */
/*--------------------Estilos contact------------------*/
.contact{
    background-color: #026fff;
    color: white;
    height: 9.375em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-mail{
    margin-left: 1.875em;
}
.txtMail{
    border-color: gray;
    padding: 10px 20px 10px 25px;
    background-image: url(../images/envelope.svg);
    background-size: 0.94rem 0.94rem;
    background-repeat: no-repeat;
    background-position-y:center ;
    background-position-x: 5px;
    border-radius: 5px;
    border-style: solid;
    margin-top: 5px;
}
.enviarMail{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    width: 100px;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
}
.enviarMail:hover{
    background-color: white;
    color: var(--color-titulos);
}
.form-mail h3{
    font-family: 'Source Sans Prop', sans-serif;
}
.social a{
    margin-right: 30px;
}
/*--------------------Estilos footer------------------*/
.footer{
    display: flex;
    color: white;
    background-color: #1c252c;
    align-items: center;
    justify-content: center;
    height: 45px;
}


/*--------------------medias------------------*/
@media screen and (max-width: 938px){
    .hero img{
        display: none;
    }  
    .project-item{
        display: block
    }  
}
@media screen and (max-width: 768px){
    .menu{
        display: none;
        position: absolute;
    }
    .menu-icon{
        display: inline-block;
    }
    .active{
        display: block;
        width: 150px;
        height: 150px;
        right: 0px;
    }
    .menu ul{
        margin-top: 5px;
    }
    .menu ul li{
        text-align: center;
        width: 95%;
        background-color: #1c252c;
        border-top: 1px solid white;
    }
    .skills{
        width: 100%;
        display: block;
        margin: auto;
    }
    .projects{
        width: 90%;
        margin-left: 0;
    } 
    .projects h2{
        margin-bottom: 10px;
    }
    .project-item{
        display: block;
        width: inherit;
        text-align: center;
        padding: 0;
        margin-left: 15px;
    }
    .project-detail{
        width: 100%;
        /*padding: 5px 2px;*/
    }
    .project-description{
        width: 90%;
    }
    .contact{
        display: block;
        padding: 30px;
    }

    .social{
        display: flex;
        justify-content: space-evenly;
    }
    .social a{
        margin-top: 10px;
    }
    
}